@import url("https://fonts.cdnfonts.com/css/circular-std");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.92);
  backdrop-filter: blur(8px);
  padding: 12px 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #ffffff5e;
}

.navbar .nav-container {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.navbar .logo .logo-icon {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 34px;
}

.navbar .nav-links button {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 12px;
  transition: 0.25s;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar .nav-links button:hover {
  color: #8a1538;
}

.navbar .nav-links button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background: #8a1538;
  transition: width 0.25s;
}

.navbar .nav-links button:hover::after,
.navbar .nav-links button.active::after {
  width: 100%;
}

.navbar .nav-links .dropdown-trigger {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
  gap: 26px;
}

.navbar .nav-right .cta-btn {
  background: #8a1538;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.navbar .nav-right .cta-btn:hover {
  background: #8a1538;
  transform: translateY(-2px);
}

.navbar .profile-trigger {
  position: relative;
}

.navbar .profile-trigger .avatar-mini {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #eee;
}

.navbar .profile-trigger .avatar-mini:hover {
  border-color: #8a1538;
}

.services-item img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%);
}

